<div class="container">
  <h1>Book a Garden</h1>

  <%= simple_form_for [@garden, @booking] do |f| %>
    <div>
      <%= f.input :start_date, html5: true, input_html: { style: "width: 180px" } %>
    </div>

    <br />

    <div>
      <%= f.input :end_date, html5: true, input_html: { style: "width: 180px" } %>
    </div>

    <br />

    <%= f.submit "Create", id: "booking-button"%>
  <% end %>
</div>
