<h1>Gardens</h1>
<p>Take a look at our gardens below</p>

<% @gardens.each do |garden| %>
  <div class="col-6">
    <div class="card-garden">
        <%= cl_image_tag garden.image.key, alt: "#{garden.name} Image", class: "card-garden-img" %>
        <h2><%= link_to garden.name, garden_path(garden) %></h2>
        <p><%= garden.description %></p>
    </div>
  </div>
<% end %>

<br />

<div>
  <%= link_to "New garden", new_garden_path %>
</div>
