.card-garden {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px #00000033;
  margin-bottom: 20px;
}

.card-garden-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  // font-family: 'Pacifico', cursive;
  font-size: 19px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #006400;
}

.card-garden-content {
  margin-top: 1px;
  margin-bottom: 10px;
}

.card-garden-details {
  display: flex;
  justify-content: space-between;
}

.card-garden-details p {
  margin: 0;
}

.card-garden-details .address {
  font-size: 15px;
  color: #333;
}

.card-garden-details .price {
  font-size: 16px;
  color: #333;
}

.btn-add-garden {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #84958e;
  border: transparent;
  margin-top: 20px;
}
