
.card-garden {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px #00000033;
  margin-bottom: 20px;
}

.card-garden-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-garden h2 {
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #333;
}

.card-garden-details {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-garden-details p {
  margin: 0;
}

.card-garden-details p:last-child {
  margin-top: 5px;
}

.card-garden-details p strong {
  color: #333;
}

.card-garden-details p:last-child strong {
  color: #28a745 !important;
  background-color: #28a745;
  padding: 5px 10px;
  border-radius: 50%;
  display: inline-block;
}
