.navbar-lewagon {
  justify-content: space-between;
  // background: white;
   background-color: rgb(179, 230, 127)
  // background-color: rgb(153, 204, 102)
}

.nav-link {
  // font-family:;
  font-size: 25px;
  font-weight: 200;
  color: rgb(55, 84, 56);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.margin-title-navbar {
  margin-left: 280px;
}
